body {
    margin: 0px;
    background-color: rgb(49, 49, 49);
    color:rgb(218, 218, 218);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.seriesname {
    color: rgb(218, 218, 218);
    text-decoration: none;
}
.chapter {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.chapternumber {
    color:rgb(218, 218, 218);
    text-decoration: none;
}
.header {
    position: absolute;
    top:0px;
    height: 80px;
    width: 100%;
    color: floralwhite;
    background-color: #386eeb;
    filter: drop-shadow(2px 0px 6px black);
}
.seriessquare {
    height: 400px;
    width: 250px;
    background-color: rgb(31, 31, 31);
    padding: 10px;
    margin-left: 5px;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    float: left;
}
.seriesinfo {
    width: 97%;
    height: 85vh;
    background-color: rgb(31, 31, 31);
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    margin-top: 8px;
    
}
.seriesimage {
    width: auto;
    float: left;
    margin-right: 1%;
    max-width: 25%;
    max-height: 100%;
    
}
.seriesdescription {

    width: 90%;
    margin: auto;
    padding-top: 35px;
}
.nlbutton {
    background-color: #386eeb;
    width: min-content;
    padding: 2px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    height: 50px;
    width: 90px;
    font-size: xx-large;
    color: white;
    text-align: -webkit-center;
    filter: drop-shadow(2px 2px 4px black);

}
h1 {
    text-align: center;
}
#disqus_thread {
    width: 98vw;
    margin: auto;
}
#shadowheader {
    height: 85px;
}