body {
    margin: 0px;
    background-color: rgb(49, 49, 49);
}
.seriesname {
    color: rgb(172, 172, 172);
    text-decoration: none;
}
.chapter {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.header {
    position: absolute;
    top:0px;
    height: 80px;
    width: 100vw;
    color: floralwhite;
    background-color: #386eeb;
}